@import url(../../Colors/bright.css);
@import url(../../Colors/dark.css);

.node {
    width: 25px;
    height: 25px;
    margin-top: -4px;
    outline: 1px solid var(--main-wall);
    display: inline-block;
  }

.node-end {
  background-color: var(--main-end);
}

.node-start {
  background-color: var(--main-start);
}

.node-wall {
  background-color: var(--main-wall);
  }

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.25);
    background-color: var(--main-wall);
    border-radius: 100%;
  }
  
  50% {
    background-color: var(--main-visited50);
  }

  75% {
    transform: scale(1.2);
    background-color: var(--main-visited75);
  }

  100% {
    transform: scale(1);
    background-color: var(--main-visited100);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: var(--main-shortestPath0)
  }

  50% {
    transform: scale(1.2);
    background-color: var(--main-shortestPath50)
  }

  100% {
    transform: scale(1);
    background-color: var(--main-shortestpath100)
  }
}


