@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
  font-family: 'Lato', sans-serif;
}
.App {
  text-align: auto;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  font-weight: 520;
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 26px;
  padding-left: 30px;

}

.content {
  padding-left: 30px;
}


