:root {
  --main-dark: rgb(98, 114, 117);
  --main-bright: rgb(223, 236, 238);
  --main-bright2: rgb(181, 206, 209);
  --main-wall: rgb(78, 78, 78);
  --main-start: rgb(121, 250, 139);
  --main-end: rgb(255, 188, 188);
  --main-font: rgb(78, 78, 78);
  --main-shortestPath0: rgb(0, 46, 77);
  --main-shortestPath50: rgb(0, 135, 197);
  --main-shortestpath100: rgb(178, 218, 255);
  --main-visited50: rgba(126, 126, 126, 0.75);
  --main-visited75: rgba(167, 167, 167, 0.775);
  --main-visited100: rgba(204, 204, 204, 0.75);  
}
