@import url(colors.css);


/* Symbol zum Öffnen und Schließen des Slide-Ins */
#menu__toggle {
  opacity: 0;
  flex: right;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 36px;
  right: 33px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  /* Color of Sidebar-Button*/
  background-color: black;
  transition-duration: .5s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* Slide-In Box */
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 81px 0;
  list-style: none;
  background-color: whitesmoke;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: 0.5s;
  z-index: 1;
}
/* Menü-Eintrag */
.menu__button:hover {
  font-weight: 1000;
}
.menu__button {
  display: block;
  min-width: 100%;
  margin-bottom: 10px;
  border: 0.5px;
  padding: 9px 18px;
  font-size: 16px;
  font-weight: 300;
  background:none;
  text-decoration: none;
  transition-duration: .5s;
}


@media (min-width: 601px) {
  .menu__box {
    width: 400px;
  }

  .menu__button {
    font-size: 20px;
    padding: 12px 24px;
  }
}
