@import url(colors.css);

@media (max-width: 2000px) {
  /* Symbol zum Öffnen und Schließen des Slide-Ins */
  #menu__toggle {
    opacity: 0;
    flex: right;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 36px;
    right: 33px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: black;
    transition-duration: .5s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* Slide-In Box */
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: 0.5s;
    z-index: 1;
  }
  /* Menü-Eintrag */
  .menu__item {
    display: block;
    min-width: 100%;
    border-radius: 0px;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .5s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}