:root {
  --main-dark: rgb(0, 100, 140);
  --main-bright: rgb(243, 251, 255);
  --main-wall: rgb(1, 56, 78);
  --main-start: rgb(121, 250, 139);
  --main-end: rgb(255, 188, 188);
  --main-shortestPath0: rgb(77, 22, 0);
  --main-shortestPath50: rgb(197, 56, 0);
  --main-shortestpath100: rgb(255, 200, 178);
  --main-visited50: rgb(0, 130, 182, 0.75);
  --main-visited75: rgba(0, 183, 255, 0.775);
  --main-visited100: rgba(175, 228, 255, 0.75);
}